<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Luis Sandro González Solalinde</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
  
  <body style="background-attachment: fixed; background-size: 100%; background-image: url(https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
    
    
    <div class="container" >
        <nav class="navbar fixed-top navbar-light" style="background-color:#032539;">
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Top">Top</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Education">Education</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#PP">Personal Projects</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Experience">Experience</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Skills">Skills</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Achievements">Achievements</a>
        <a class="navbar-brand" style="color: #FBF3F2; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;"href="#Contact">Contact</a>
     </nav>
   </div>
   <div id = Top></div>
   <br><br><br>
    
    <div class="container" style="background-color:#1C768F;">
      <br>  
      <h1 style="color: #FBF3F2; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Luis Sandro González Solalinde</h1>
      <br>
    </div>
    <br>
    <!--About-->
   <div class="container" style="background-color:#FBF3F2; ">
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">About me.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      My name is Luis sandro González Solalinde. I am currently studying digital systems and robotics engineering at Tecnológico de Monterrey. Ever since I was young I have had a deep interest in technology. I am curious and passionate about learning new things.
      I started programming when I joined my high school's robotics team in 2015. While I was there I became passionate about solving problems through tehcnology. Though I was in the programming division of the team, I was intrigued at how a robot could take my code and do exactly what I told it. 
      It was at this moment that I knew I would not be a software engineer, but a computer engineer. I am interested in embedded systems development, internet of things (IoT), and machine learning. 
      I am skilled in digital and analog circuit design, programming, graphic design, video editing, and project management. I am also experienced in leadership, mentorship, education, resource management, publicity through social media, and document translation. 
    </p>
    <img alt="Circuits" src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"  style="margin-left: auto; margin-right: auto; display: block; width: 50%;">
    <br>
    </div>
    <br>
     <!--Education-->
   <div class="container" style="background-color:#FBF3F2; text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" id = Education>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Education.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      Bilingual Diploma Programme (08/2015 - 05/2017)<br>
      International Bachalaureate Organization
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Score: 29 points
        </li>
        <li>
          Higher Level Business and Management
        </li>
        <li>
          Higher Level Design Technologies
        </li>
        <li>
          Higher Level Literature (English and Spanish)
        </li>
      </ul>  
      Digital Systems and Robotics Engineering (08/2017 - Present)<br>
      Instituto Tecnológico y de Estudios Superiores de Monterrey Campus Monterrey
      
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Expected Graduation Date: December 2021
        </li>
      </ul> 
      
    </p>
    <br>
    </div>
    <br>
     <!--Personal Projects-->
   <div class="container" style="background-color:#FBF3F2; text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"" id = PP>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Personal Projects.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      Ordnas (02/2020 - Present)
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          My very own programming language. Developped fully on Python. 
        </li>
      </ul>
      MIPS 32 Processor (02/2020 - 06/2020) 
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          A MIPS32 processor designed by me, fully on VHDL. 
        </li>
      </ul>
      Urbis (04/2015 - 08/2017)
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Safe travel and social networking app
        </li>
      </ul> 
      The evolution of the average worker through automation (08/2015 - 05/2017)
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          An article about the social impact of automation technologies.
        </li>
      </ul> 
    </p>
    <br>
    </div>
    <br>
     <!--Experience-->
   <div class="container" style="background-color:#FBF3F2; text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" id = Experience>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Experience.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      Web Development - Independent (08/2016 - Present)
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Fourchette Banquets' Website
        </li>
        <li>
          Stripped Noodles Studios' Website
        </li>
        <li>
          This Website
        </li>
      </ul> 
      Robotics Teacher - VolTec (08/2018 - 05/2019) 
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Volunteering
        </li>
        <li>
          Arduino Seminar Professor at Congreso Voltec 2018
        </li>
        <li>
          Teaching LEGO Robotics at public elementary schools
        </li>
      </ul>
      Intermediate Level Programming Teacher - Proyecto 99 (08/2020 - 12/2020) 
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Volunteering
        </li>
      </ul>
      Advanced Level English Teacher - Proyecto 99 (08/2020 - 12/2020) 
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Volunteering
        </li>
      </ul>
      Translator - Intelligent Security Systems (08/2019)
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          Translated the ISS SecurOS Administration Guide fromEnglish to Spanish
        </li>
      </ul>
    </p>
    <br>
    </div> 
    <br>   
     <!--Skills-->
   <div class="container" style="background-color:#FBF3F2;" id = Skills>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Skills.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      Languages:
      <ul id="idiomas" style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li v-for="item in items" :key="item.message" style="color:#032539;">
          {{ item.message }}
        </li>
      </ul> 
      Programming Languages:
      <ul id="languages" style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li v-for="item in items" :key="item.message" style="color:#032539;">
          {{ item.message }}
        </li>
      </ul> 
    </p>
    <br>
    </div> 
    <br>   
     <!--Achievements-->
   <div class="container" style="background-color:#FBF3F2;" id = Achievements>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Achievements.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      <ul style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <li>
          FIRST Robotics Competition Mexico City Regional Champion (03/2016)
        </li>
        <li>
          Second Place at Hack N' Jam Hackathon (04/2015)
        </li>
        <li>
          Member of Digital Systems and Robotics Engineering Student Society (SAISD) (08/2018 - 05/2019)      

        </li>
        <li>
          Member of the publicity comittee of CONNECT, the largest technology congress organized by students in Latin America (10/2018)
        </li>
      </ul>
    </p>
    <br>
    </div>  
    <br> 
     <!--Contact-->
   <div class="container-fluid" style="background-color:#FBF3F2;" id = Contact>
    <h1 style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Contact.</h1>
    <p style="text-align: justify;color:#032539; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Email: luisgs9924@gmail.com
    <br>
    Phone: +52 81 2394 9461
    <br>
    <a href="https://www.linkedin.com/in/luis-sandro-gonz%C3%A1lez-solalinde-896120191/"><img alt="LinkedIn" src="https://image.flaticon.com/icons/png/512/174/174857.png" width="50" height="50">
    </a>
    </p>
    <br>
    </div>                 
  <script>
      var example1 = new Vue({
    el: '#idiomas',
    data: {
      items: [
        { message: 'Spanish : Native' },
        { message: 'English : C2' },
        { message: 'Italian : A2' },
        { message: 'German  : A2' }
      ]
    }
  })
  </script>
  <script>
    var example1 = new Vue({
  el: '#languages',
  data: {
    items: [
      { message: 'C/C++ : 4 Years' },
      { message: 'Java : 4 Years' },
      { message: 'Python : 3 Years' },
      { message: 'VHDL  : 3 Years' },
      { message: 'Assembly : 3 Year' },
      { message: 'HTML : 2 Year' },
      { message: 'JavaScript : 1 Year' }
    ]
  }
})
</script>    
  </body>
</html>
